<a href="https://colab.research.google.com/github/astikarganesh/25-26-4093-Ganesh-AI-B-DS/blob/main/10feb26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [126]:
#selection data
import pandas as pd
data={"ID":[101,102,103,104,105],
      "NAME":["danyeee","hart","riyath","miyono","yousof"],
      "BRANCH":["CSE","EEE","CIVIL","MECHANICAL","ECE"],
      }
df=pd.DataFrame(data)
print(df)
print((df)["ID"])
print("the 0th order",df.iloc[0])
print("the first index",df.iloc[1])

    ID     NAME      BRANCH
0  101  danyeee         CSE
1  102     hart         EEE
2  103   riyath       CIVIL
3  104   miyono  MECHANICAL
4  105   yousof         ECE
0    101
1    102
2    103
3    104
4    105
Name: ID, dtype: int64
the 0th order ID            101
NAME      danyeee
BRANCH        CSE
Name: 0, dtype: object
the first index ID         102
NAME      hart
BRANCH     EEE
Name: 1, dtype: object

In [127]:
#Selection sort
import pandas as pd
data={"ID":[101,102,103,104,105],
      "name":["danyeee","hart","riyath","miyono","yousof"],
      "section":["A","B","C","D","E"],
      "marks":[10,20,30,44,75]
      }
df=pd.DataFrame(data)
print(df)
print(df.sort_values(by="marks"))
print("\nlocation 0 to 4\n\n",df.iloc[0:4,0:8])

    ID     name section  marks
0  101  danyeee       A     10
1  102     hart       B     20
2  103   riyath       C     30
3  104   miyono       D     44
4  105   yousof       E     75
    ID     name section  marks
0  101  danyeee       A     10
1  102     hart       B     20
2  103   riyath       C     30
3  104   miyono       D     44
4  105   yousof       E     75

location 0 to 4

     ID     name section  marks
0  101  danyeee       A     10
1  102     hart       B     20
2  103   riyath       C     30
3  104   miyono       D     44

In [128]:
#filtering data
print("marks less then 50")
print(df[df["marks"]<50])
print("\n\nmarks greater then 50\n")
print("\nagain headding\n",df[df["marks"]>50])
print("nmarks greater then or equal to 30",df[df["marks"]>=30])
print("\n\nmarks less then or equla to 40",df[df["marks"]<=40])

marks less then 50
    ID     name section  marks
0  101  danyeee       A     10
1  102     hart       B     20
2  103   riyath       C     30
3  104   miyono       D     44


marks greater then 50


again headding
     ID    name section  marks
4  105  yousof       E     75
nmarks greater then or equal to 30     ID    name section  marks
2  103  riyath       C     30
3  104  miyono       D     44
4  105  yousof       E     75


marks less then or equla to 40     ID     name section  marks
0  101  danyeee       A     10
1  102     hart       B     20
2  103   riyath       C     30

In [129]:
#data addition
print(df.index)
print("back fill of data\n",df.backfill)
print("\noriginal data\n",(df))
print("\n\nadded preffix ",df.add_prefix("col_"))
print("\n\n added suffix",df.add_suffix("_col"))
print("",df.agg)

RangeIndex(start=0, stop=5, step=1)
back fill of data
 <bound method NDFrame.backfill of     ID     name section  marks
0  101  danyeee       A     10
1  102     hart       B     20
2  103   riyath       C     30
3  104   miyono       D     44
4  105   yousof       E     75>

original data
     ID     name section  marks
0  101  danyeee       A     10
1  102     hart       B     20
2  103   riyath       C     30
3  104   miyono       D     44
4  105   yousof       E     75


added preffix     col_ID col_name col_section  col_marks
0     101  danyeee           A         10
1     102     hart           B         20
2     103   riyath           C         30
3     104   miyono           D         44
4     105   yousof           E         75


 added suffix    ID_col name_col section_col  marks_col
0     101  danyeee           A         10
1     102     hart           B         20
2     103   riyath           C         30
3     104   miyono           D         44
4     105   yousof           E         75
 <bound method DataFrame.aggregate of     ID     name section  marks
0  101  danyeee       A     10
1  102     hart       B     20
2  103   riyath       C     30
3  104   miyono       D     44
4  105   yousof       E     75>

In [130]:
#data manipulation
import pandas as pd

data={"name":["tie","fer","jii"],"rawrr":[45,85,65],"rate":[465,752,654]}
df=pd.DataFrame(data)
print(df)
print("\n adding column ")
df["range"]=[45,86,75]
print(df)
print("\n incresing the rawrr by incresing the rate ")
df["rawrr"]=df["rawrr"]+df["rate"]
print(df)
print("adding + 5 to the rawrr")
df["rawrr"]=df["rawrr"]+[5]
print(df)
print()

  name  rawrr  rate
0  tie     45   465
1  fer     85   752
2  jii     65   654

 adding column
  name  rawrr  rate  range
0  tie     45   465     45
1  fer     85   752     86
2  jii     65   654     75

 incresing the rawrr by incresing the rate
  name  rawrr  rate  range
0  tie    510   465     45
1  fer    837   752     86
2  jii    719   654     75
adding + 5 to the rawrr
  name  rawrr  rate  range
0  tie    515   465     45
1  fer    842   752     86
2  jii    724   654     75