<a href="https://colab.research.google.com/github/astikarganesh/25-26-4093-Ganesh-AI-B-DS/blob/main/3.2.26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list

numbers = [1, 2, 3, 4]
names = ["Alice", "Bob", "Charlie"]
mixed = [1, "hello", 3.5, True]
print(numbers)
print(names)
print(mixed)

[1, 2, 3, 4]
['Alice', 'Bob', 'Charlie']
[1, 'hello', 3.5, True]

In [ ]:

numbers = (1, 2, 3, 4)
names = ("Alice", "Bob", "Charlie")
mixed = (1, "hello", 3.5, True)
print(numbers)
print(names)
print(mixed)

(1, 2, 3, 4)
('Alice', 'Bob', 'Charlie')
(1, 'hello', 3.5, True)

In [ ]:




# --- Creating Lists ---

my_list = [1, 2, 3, 'hello', True, 3.14]
print(f"Example list: {my_list}")

# --- Accessing Elements ---
print("\n--- Accessing Elements ---")
print(f"First element : {my_list[0]}")
print(f"Last element : {my_list[-1]}")

# --- Slicing Lists ---
print("\n--- Slicing Lists ---")
print(f" {my_list[1:4]}")
print(f" {my_list[:3]}")
print(f": {my_list[3:]}")

# --- Modifying Elements ---

my_list[0] = 100
print(f" {my_list}")

# --- Adding Elements ---

my_list.append('new_item')
print(f" {my_list}")
my_list.insert(1, 'inserted_item')
print(f" {my_list}")

# --- Removing Elements ---


my_list.remove('hello')
print(f"After remove 'hello': {my_list}")
popped_item = my_list.pop()

del my_list[0]
print(f" {my_list}")

Example list: [1, 2, 3, 'hello', True, 3.14]

--- Accessing Elements ---
First element : 1
Last element : 3.14

--- Slicing Lists ---
 [2, 3, 'hello']
 [1, 2, 3]
: ['hello', True, 3.14]
 [100, 2, 3, 'hello', True, 3.14]
 [100, 2, 3, 'hello', True, 3.14, 'new_item']
 [100, 'inserted_item', 2, 3, 'hello', True, 3.14, 'new_item']
After remove 'hello': [100, 'inserted_item', 2, 3, True, 3.14, 'new_item']
 ['inserted_item', 2, 3, True, 3.14]

In [19]:
#tuples
t = (1, 2, 3)
e=(5,8,6)
print(t*3)
print(t+e)
print(sum(t))
print(max(t))
print((t))
print(sorted(t))
print(sorted(t,reverse=True))
names = ("Alice", "Bob", "Charlie")

names[2]
names[-1]

(1, 2, 3, 1, 2, 3, 1, 2, 3)
(1, 2, 3, 5, 8, 6)
6
3
(1, 2, 3)
[1, 2, 3]
[3, 2, 1]

'Charlie'

In [ ]:
s = {1, 2, 3, 4}
names = {"Alice", "Bob", "Charlie"}
a = {1, 2, 3}
b = {3, 4, 5}

a | b
a & b
a - b
a ^ b

{1, 2, 4, 5}

In [ ]:
student = {
    "name": "Alice",
    "age": 20,
    "grade": "A"
}
student["age"] = 21
student["city"] = "NY"

In [ ]:

# SET OPERATIONS
s1 = {10, 20, 30, 40}
s2 = {30, 40, 50, 60}
print("Union using method:", s1.union(s2))
print("Intersection using method:", s1.intersection(s2))
print("Difference using method:", s1.difference(s2))
print("Symmetric difference using method:", s1.symmetric_difference(s2

In [5]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
url='https://raw.githubusercontent.com/YBI-Foundation/Dataset/refs/heads/main/New%20Car%20Sales%20by%20Make.csv'
df=pd.read_csv(url)
print(df.head())
df.to_csv('/content/drive/MyDrive/dataset/New Car Sales by Make.csv')
print("data has been printed successfully")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   Year  Month        Make  Quantity   Pct
0  2007      1      Toyota      2884  22.7
1  2007      1  Volkswagen      2521  19.9
2  2007      1     Peugeot      1029   8.1
3  2007      1        Ford       870   6.9
4  2007      1       Volvo       693   5.5
data has been printed successfully