<a href="https://colab.research.google.com/github/astikarganesh/25-26-4093-Ganesh-AI-B-DS/blob/main/3.2.26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#list

numbers = [1, 2, 3, 4]
names = ["Alice", "Bob", "Charlie"]
mixed = [1, "hello", 3.5, True]
print(numbers)
print(names)
print(mixed)

[1, 2, 3, 4]
['Alice', 'Bob', 'Charlie']
[1, 'hello', 3.5, True]

In [13]:

numbers = (1, 2, 3, 4)
names = ("Alice", "Bob", "Charlie")
mixed = (1, "hello", 3.5, True)
print(numbers)
print(names)
print(mixed)

(1, 2, 3, 4)
('Alice', 'Bob', 'Charlie')
(1, 'hello', 3.5, True)

In [18]:




# --- Creating Lists ---

my_list = [1, 2, 3, 'hello', True, 3.14]
print(f"Example list: {my_list}")

# --- Accessing Elements ---
print("\n--- Accessing Elements ---")
print(f"First element : {my_list[0]}")
print(f"Last element : {my_list[-1]}")

# --- Slicing Lists ---
print("\n--- Slicing Lists ---")
print(f" {my_list[1:4]}")
print(f" {my_list[:3]}")
print(f": {my_list[3:]}")

# --- Modifying Elements ---

my_list[0] = 100
print(f" {my_list}")

# --- Adding Elements ---

my_list.append('new_item')
print(f" {my_list}")
my_list.insert(1, 'inserted_item')
print(f" {my_list}")

# --- Removing Elements ---


my_list.remove('hello')
print(f"After remove 'hello': {my_list}")
popped_item = my_list.pop()

del my_list[0]
print(f" {my_list}")

Example list: [1, 2, 3, 'hello', True, 3.14]

--- Accessing Elements ---
First element : 1
Last element : 3.14

--- Slicing Lists ---
 [2, 3, 'hello']
 [1, 2, 3]
: ['hello', True, 3.14]
 [100, 2, 3, 'hello', True, 3.14]
 [100, 2, 3, 'hello', True, 3.14, 'new_item']
 [100, 'inserted_item', 2, 3, 'hello', True, 3.14, 'new_item']
After remove 'hello': [100, 'inserted_item', 2, 3, True, 3.14, 'new_item']
 ['inserted_item', 2, 3, True, 3.14]

In [19]:
#tuples
t = (1, 2, 3)
names = ("Alice", "Bob", "Charlie")
mixed = (1, "hi", 3.5, True)
names[0]
names[-1]

'Charlie'

In [20]:
s = {1, 2, 3, 4}
names = {"Alice", "Bob", "Charlie"}
a = {1, 2, 3}
b = {3, 4, 5}

a | b
a & b
a - b
a ^ b

{1, 2, 4, 5}

In [21]:
student = {
    "name": "Alice",
    "age": 20,
    "grade": "A"
}
student["age"] = 21
student["city"] = "NY"